<h1>Add a New Service</h1>
<div>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      {{input value=name id="name"}}
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      {{input value=price id="price"}}
    </div>

    <div class="form-group">
      <label for="photo">Photo URL</label>
      {{input value=photo id="photo"}}
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      {{textarea value=description id="description" cols="50" rows="4"}}
    </div>
    <button {{action 'saveService'}}>Save</button>
  </form>
</div>
